body {
  background: url(../imgs/bg.png) no-repeat;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.4)
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu_wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu_list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu_list::after {
  content: "";
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  height: 20px;
}

.menu_icon_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.menu_icon_link:hover > svg path {
  fill: #3cb878;
}

.logo {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  color: #3cb878;
  font-size: 20px;
  line-height: 20px;
}

.body_text,
.menu_link {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.menu_link:hover {
  color: #3CB878;
}

.api_buttons_wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.form_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 16px;
}

.form_wrapper {
  padding: 32px 60px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}

.form_wrapper::before {
  content: "";
  top: 32px;
  left: 0px;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.form_input {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 44px;
  width: 320px;
  padding-left: 20px;
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  box-sizing: border-box;
}

.form_input::placeholder {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}


.form_input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border: none;
}

.button {
  border: none;
  border-radius: 4px;
  height: 44px;
  min-width: 156px;
  color: #ffffff;
  box-sizing: border-box;
}

.api_button_facebook {
  background-color: #305db8;
  position: relative;
  padding-left: 44px;
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.api_button_facebook::before {
  content: "";
  background-image: url(../imgs/f\ 1.svg);
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  left: 16px;
  top: 10px;
  height: 24px;
  width: 12px;
  border-right: 1px solid rgba(43, 13, 9, 0.1);
  padding-right: 16px;
}

.api_button_facebook:hover {
  background-color: #022263;
}

.api_button_google {
  background-color: #df4a32;
  position: relative;
  padding-left: 44px;
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.api_button_google::before {
  content: "";
  background-image: url(../imgs/G+.svg);
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  left: 12px;
  top: 10px;
  border-right: 1px solid rgba(43, 13, 9, 0.1);
  height: 24px;
  width: 30px;
  padding-right: 8px;
}

.api_button_google:hover {
  background-color: #AB1F09;
}

.primary_button {
  background-color: #3cb878;
  min-width: 320px;
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.primary_button:hover {
  background-color: #01813F;
}


.form_heading {
  font-family: "Ubuntu";
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form_link {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.form_link:hover {
  text-decoration: underline;
  color: #01813F;
}

.divider_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}

.divider {
  width: 144px;
  height: 1px;
  background-color: #f2f2f2;
}

.divider_text,
.checkbox_text {
  color:#434343;
}

.checbox_wrapper {
  display: flex;
  align-items: center;
  gap: 8 px;
  position: relative;
  margin: 8px 0 8px;
}
